<div class="col-sm-8">    
    <div class="">
    <ol>
    <% users.forEach(function(user) { %>
            <li>
                <h4><a href="/main/user/<%= user.id %>"><%= user.first_name %> <%= user.last_name %> ( <%= user.username %> )</a></h4>
                <p>The main body of the user <%= user.last_name %>, <%= user.email %></p>
                <b>User is in this Department: </b> <%= user.Department.department_name %>  <br/>
                <b>User has this Current Business: </b> <%= user.CurrentBusiness.current_business_name %><br/>
                <b>User has this Role: </b> <%= user.Role.role_name %>  <br/>
                <b>User has this Profile: </b> <%= user.Profile.profile_name %><br/>
                 <a href="/main/user/<%= user.id %>/update">Edit  User</a> | <a href="/main/user/<%= user.id %>/delete">Delete User</a>
            </li>
        <br/>
    <% }); %>
    </ol>
</div>
<a href="/main/user/create"> CLICK HERE TO CREATE USER</a>
</div>